<div class="footer text-white ">
    <div class="footcontant py-5 d-flex justify-content-around ">
        <div class="location text-center">
            <h2>LOCATION</h2>
            <span class=" fw-bold d-block py-3">2215 John Daniel Drive</span>
            <span>Clark, MO 65243</span>
        </div>
        <div class="location text-center">
            <h2>AROUND THE WEB</h2>
           <div class="d-flex justify-content-center">
            <div class="space d-flex justify-content-center align-items-center mx-2">
                <i class="  fa-brands fa-facebook fa-l "></i>
            </div>
            <div class="space d-flex justify-content-center align-items-center">
                <i class="fa-brands fa-twitter fa-l "></i>
            </div>
            <div class="space d-flex justify-content-center align-items-center mx-2">
                <i class="fa-brands fa-linkedin fa-l"></i> 
            </div>
            <div class="space d-flex justify-content-center align-items-center ">
                <i class="fa-solid fa-globe fa-lg"></i>
            </div>
           </div>

       </div>
        <div class="location text-center">
            <h2>ABOUT FREELANCER</h2>
            <span class="d-block py-3">Freelance is a free to use, licensed Bootstrap theme created by Route</span>
            
        </div>
    </div>
    <div class="ffoot text-center py-5">
        <span>Copyright © Your Website 2021</span>
    </div>
</div>