<div class="about  text-white text-center h-100  pt-5">
    <h2 class="fw-bolder p-5 ">ABOUT COMPONENT</h2>
    <div class="d-flex justify-content-center flex-wrap align-items-center my-2">
        
        <div class="line"></div>
        <i class="fa-solid fa-star mx-2"></i>
        <div class="line"></div>
    </div>
    <div class="container d-flex justify-content-center pb-5 px-3">
        <div>
<p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="pb-5">
<p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
</div>